.Containers {
    background-image: url('/threehighplus/images/culture-5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.pack1 {
    background-image: url('/threehighplus/images/rinjanitrekking-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}